<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/public/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/index.css">
</head>
<body class="body_index " >
<div class="container">
  <div class="col">
    <div class="col align-self-center">
      <div class="jumbotron" >
        <div class="col" >

          <h1 class="display-4"> <%= name %> say's bark</h1>
          <img src="/public/dog.jpg" alt="dog_day" width="300px" height="300px">
          <p class="row-md-3 "><%= get_str('notification_action')  %></p>
          <p class="alert alert-warning" role="alert"><%= get_str('notification_event')  %></p>
          <p class="row-md-3">Now is <%= get_str('day_period')  %></p>
        </div>
        <hr class="my-4">
        <div class="container">
          <div class="row">
            <div class="col col-lg-2">
              <div class = "status">Health <span class="badge badge-secondary"><%= get('hp')%> / 6</span></div>
              <div class = "status">Health <span class="badge badge-secondary"><%= get('hp')%> / 6</span></div>
              <div class = "status">Stomach <span class="badge badge-secondary"><%= get('stomach')  %> / 5</span></div>
            </div>
            <div class="col col-lg-2">
              <div class = "status">Interest <span class="badge badge-secondary"><%= get('interest') %> / 5</span></div>
              <div class = "status">Intelect <span class="badge badge-secondary"><%= get('intelect') %> / 6</span></div>
              <div class = "status">Purity <span class="badge badge-secondary"><%= get('purity') %> / 4</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col">
    <div class="col align-self-center">
      <div class="alert alert-danger" role="alert" >
        <div id ="status_stomach"><%= get_str('stomach_notification')  %></div>
        <div id ="status_hp"><%= get_str('hp_notification')  %></div>
        <div id ="status_purity"><%= get_str('purity_notification')  %></div>
        <div id ="status_interest"><%= get_str('interest_notification')  %></div>
        <div id ="status_intelect"><%= get_str('intelect_notification')  %></div>
      </div>
    </div>
  </div>
</div>

<div id ="in_action" class="col" >
  <p>Chose actions</p>
  <form action="/change" method="get">
    <div class="btn-group btn-group-lg " role="group" aria-label="First group">
      <button type="submit" class="btn btn-danger" name="hp" value="hp">Feed</button>

      <button type="submit" class="btn btn-warning" name="cleaning" value=cleaning">Wash</button>

      <button type="submit" class="btn btn-success" name="interest" value="interest">Play</button>
    </div>
    <p style="margin: 8px"></p>
    <div class="btn-group btn-group-lg" role="group" aria-label="Second group">
      <button type="submit" class="btn btn-primary" name="walk" value="walk" >Walk</button>

      <button type="submit" class="btn btn-warning " name="train" value="train" style="background: #853c9b; border:#853c9b; color:white" >Train</button>

      <button type="submit" class="btn btn-dark" name="looking" value="looking">Look at(nothing)</button>
    </div>

  </form>
  <p style="margin: 8px"></p>
</div>

<form action="/help" method="get">

  <button type="submit" class="btn btn-secondary" name="" value="">Help</button>

</form>

<div>

</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
